-- Test apakah user bisa akses checkins table
-- Ganti dengan user_id yang sebenarnya
SELECT user_id, date, ayat_count 
FROM checkins 
WHERE user_id IN (
  SELECT user_id 
  FROM family_members 
  WHERE family_id = 'your-family-id-here'
)
ORDER BY date DESC 
LIMIT 10;
